%h1 Repositories

%table.table.table-striped
  %thead
    %tr
      %th Repository
      %th Owner
      %th Number of Commits
  %tbody
    - @repositories.each do |repo|
      %tr
        %td
          = link_to repo.name, repo
        %td
          = repo.owner_name
        %td
          = repo.commits.size